 .u-section-1 {
  background-image: url("images/header.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 642px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 59px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 549px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-form-1 {
  height: 441px;
  width: 304px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-1 {
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
}

.u-block-8625-17 {
  margin-left: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 549px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-3 {
  --radius: 2px;
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 387px 211px 0 auto;
  padding: 8px 32px 8px 31px;
}

.u-section-1 .u-btn-4 {
  --radius: 2px;
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -46px auto 0 235px;
  padding: 8px 32px 8px 31px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 890px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 453px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 78px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1671px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 597px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 240px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4039px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 4881px;
    margin-bottom: 59px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2641px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 3017px;
  }
}